<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<header>
		<a th:href="@{/}">Kurs</a>
		<a th:href=@{/tests}>Tests</a>
		<h1 th:if="${user != null}" th:text="${user.username}"></h1>
	</header>

	<main id="indexMain">
		<div class="container">
			<h1>Welcome to my website</h1>
			<p>I write the backend of this website in Java using Spring Framework.<br>
			I hope you liked it. To get started just go to this <a th:href=@{/tests}>page</a></p>
		</div>
	</main>

	<footer>
		<p>Created By Orakbaev Zhanbolat</p>
	</footer>
</body>
</html>