<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<header>
		<a th:href="@{/}">Kurs</a>
		<nav th:if="${user == null}">
			<a th:href="@{/login}">Log in</a>
			<a th:href="@{/register}">Sign up</a>
		</nav>
		<nav th:if="${user != null}">
			<a href="#" th:text="${user.username}"></a>
			<a th:if="${user.isTeacher()}" th:href="@{/create}">Create</a>
			<a th:if="${!user.isTeacher()}" th:href="@{/tests}">Tests</a>
			<form th:action="@{/logout}" method="post" >
				<input type="submit" value="Log out" />
			</form>
		</nav>
	</header>

	<main id="indexMain">
		<div class="container">
			<h1>Welcome to my website</h1>
			<p>I write the backend of this website in Java using Spring Framework.<br>
			I hope you liked it. To get started just go to this <a th:href=@{/tests}>page</a></p>
		</div>
	</main>

	<footer>
		<p>Created By Orakbaev Zhanbolat</p>
	</footer>
</body>
</html>