<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
	<header>
		<a th:href="@{/}">Kurs</a>
	</header>

	<main id="indexMain">
		<div class="container">
			<form action="#" th:action="@{/register}" method="POST" th:object="${form}" >
				<input type="text" name="username" th:field="*{username}" /><br>
				<input type="password" name="password" th:field="*{password}" /><br>
				<select th:field="*{userType}" >
					<option value="STUDENT">Student</option>
					<option value="TEACHER">Teacher</option>
				</select>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</main>

	<footer>
		<p>Created By Orakbaev Zhanbolat</p>
	</footer>
</body>
</html>