<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" href="../static/style.css" />
</head>
<body>
	<header>
		<a href="index.html">Kurs</a>
		<a href="test.html">Tests</a>
	</header>

	<main id="testsMain">
		<div class="container">
            <h1>Choose the category</h1>
			<div class="section">
                <h1><a href="test.html">Math</a></h1>
            </div>
		</div>
	</main>

	<footer>
		<p>Created By Orakbaev Zhanbolat</p>
	</footer>
</body>
</html>